<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">

    <div class="m-grid__item m-grid__item--fluid m-wrapper"></div>
    <div class="m-content m-box">
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="m-portlet m-portlet--full-height  ">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    <span class="font-bold">User:</span> Bulk User Upload
                                </h3>
                            </div>
                        </div>
                        <div class="m-portlet__head-tools">
                            <ul class="m-portlet__nav">
                                <li class="m-portlet__nav-item">
                                    <!--<a href="javascript:void(o)"
                                       class="m-portlet__nav-link btn m-btn icon-hover-menu-box m-btn--icon m-btn--icon-only m-btn--pill"
                                       data-toggle="m-tooltip" data-placement="top"
                                       title="Back"
                                       data-original-title="Back" data-ng-controller="allDeviceController"
                                       ng-click="deviceList()">
                                        <i class="la la-arrow-left icon-menu-box"></i>
                                    </a>-->
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <ul class="m-nav m-portlet-fit--sides">
                            <li class="m-nav__item">
                                <div class="m-nav__link">
                                    <div class="m-portlet__head-caption">

                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="m-portlet--full-height m-portlet--tabs">
                                <div class="m-portlet-no-padding">
                                    <div class="m-portlet__head-tools" style="padding: 1px !important;">
                                        <div class="m-portlet__head-tools">
                                            <div class="tab-pane active">
                                                <form class="m-form m-form--fit m-form--label-align-right">
                                                    <div class="m-portlet__body">
                                                        <div class="form-group m-form__group row col-md-12 text-center pt-container">
                                                            <div class="col-12 text-center">
                                                                <h3 class=" desc-info">
                                                                    Bulk User Information
                                                                </h3>
                                                            </div>
                                                        </div>
                                                        <div class="form-group m-form__group row">
                                                            <label for="example-text-input" class="col-4 col-form-label">
                                                                Select the County or write the name of the county
                                                            </label>
                                                            <div class="col-7">
                                                                <input class="form-control m-input" type="text" placeholder="Country">
                                                            </div>
                                                        </div>
                                                        <div class="form-group m-form__group row">
                                                            <label for="example-text-input" class="col-4 col-form-label">
                                                                Select the School or write the name of the school
                                                            </label>
                                                            <div class="col-7">
                                                                <input class="form-control m-input" type="text" value="" placeholder="School">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="m-portlet__foot m-portlet__foot--fit">
                                                        <div class="m-form__actions">
                                                            <div class="row">
                                                                <div class="col-4"></div>
                                                                <div class="col-12 text-center">
                                                                    <button type="reset"
                                                                            class="btn btn-accent m-btn m-btn--air m-btn--custom">
                                                                        Upload file
                                                                    </button>
                                                                    &nbsp;&nbsp;
                                                                    <button type="reset"
                                                                            class="btn btn-secondary m-btn m-btn--air m-btn--custom">
                                                                        Download file example
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>