<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">

    <div class="m-grid__item m-grid__item--fluid m-wrapper"></div>
    <div class="m-content m-box">
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="m-portlet m-portlet--full-height  ">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    <span class="font-bold">Device:</span> Add Device
                                </h3>
                            </div>
                        </div>
                        <div class="m-portlet__head-tools">
                            <ul class="m-portlet__nav">
                                <li class="m-portlet__nav-item">
                                    <a href="#"
                                       class="m-portlet__nav-link btn m-btn icon-hover-menu-box m-btn--icon m-btn--icon-only m-btn--pill"
                                       data-toggle="m-tooltip" data-placement="top"
                                       title="Help!"
                                       data-original-title="Help!"><i
                                            class="la la-question icon-menu-box"></i></a>
                                </li>
                                <li class="m-portlet__nav-item">
                                    <a href="#"
                                       class="m-portlet__nav-link btn m-btn icon-hover-menu-box m-btn--icon m-btn--icon-only m-btn--pill"
                                       data-toggle="m-tooltip" data-placement="top"
                                       title="Close"
                                       data-original-title="Close"><i
                                            class="la la-close icon-menu-box"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <ul class="m-nav m-portlet-fit--sides">
                            <li class="m-nav__item">
                                <div class="m-nav__link">
                                    <div class="m-portlet__head-caption">

                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="m-portlet--full-height m-portlet--tabs">
                                <div class="m-portlet-no-padding">
                                    <div class="m-portlet__head-tools" style="padding: 1px !important;">
                                        <div class="m-portlet__head-tools">
                                            <div class="tab-pane active">
                                                <form class="m-form m-form--fit m-form--label-align-right">
                                                    <div class="m-portlet__body">
                                                        <div class="form-group m-form__group row col-md-12 text-center pt-container">
                                                            <div class="col-12 text-center">
                                                                <h3 class=" desc-info">
                                                                    Device Information
                                                                </h3>
                                                            </div>
                                                        </div>
                                                        <div class="form-group m-form__group row">
                                                            <label for="example-text-input" class="col-4 col-form-label">
                                                                Device Name
                                                            </label>
                                                            <div class="col-7">
                                                                <input class="form-control m-input" type="text" placeholder="Device Name">
                                                            </div>
                                                        </div>
                                                        <div class="form-group m-form__group row">
                                                            <label for="example-text-input" class="col-4 col-form-label">
                                                               Serial Number
                                                            </label>
                                                            <div class="col-7">
                                                                <input class="form-control m-input" type="text" value="" placeholder="Serial Number">
                                                            </div>
                                                        </div>
                                                        <div class="form-group m-form__group row">
                                                            <label for="example-text-input" class="col-4 col-form-label">
                                                                Device Model
                                                            </label>
                                                            <div class="col-7">
                                                                <select class="form-control m-input m-input--square"
                                                                        id="exampleSelect133">
                                                                    <option>
                                                                        Please Select
                                                                    </option>
                                                                    <option>
                                                                       BM 5000
                                                                    </option>
                                                                    <option>
                                                                       BM 4500
                                                                    </option>
                                                                    <option>
                                                                        BM 4800
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group m-form__group row">
                                                            <label for="example-text-input" class="col-4 col-form-label">
                                                               Add School
                                                            </label>
                                                            <div class="col-7">
                                                                <input class="form-control m-input" type="text" value="" placeholder="Add School">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="m-portlet__foot m-portlet__foot--fit">
                                                        <div class="m-form__actions">
                                                            <div class="row">
                                                                <div class="col-4"></div>
                                                                <div class="col-12 text-center">
                                                                    <button type="reset"
                                                                            class="btn btn-accent m-btn m-btn--air m-btn--custom">
                                                                        Save changes
                                                                    </button>
                                                                    &nbsp;&nbsp;
                                                                    <button type="reset"
                                                                            class="btn btn-secondary m-btn m-btn--air m-btn--custom">
                                                                        Cancel
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal fade" id="m_modal_1_2" tabindex="-1" role="dialog"
                                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">
                                                                Select Student
                                                            </h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                    <span aria-hidden="true">
                                                                        &times;
                                                                    </span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="m-scrollable" data-scrollbar-shown="true"
                                                                 data-scrollable="true"
                                                                 data-max-height="400">
                                                                <div class="m-portlet__body">
                                                                    <!--begin::Section-->
                                                                    <div class="m-section">
                                                                        <div class="col-7">
                                                                            <div class="form-group m-form__group">
                                                                                <div class="m-input-icon m-input-icon--left">
                                                                                    <input type="text" class="form-control m-input"
                                                                                           placeholder="Search Student">
                                                                                    <span class="m-input-icon__icon m-input-icon__icon--left">
                                                                            <span>
                                                                                <i class="la la-search"></i>
                                                                            </span>
												                        </span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="m-section__content">
                                                                            <table class="table">
                                                                                <thead>
                                                                                <tr>
                                                                                    <th>
                                                                                        #
                                                                                    </th>
                                                                                    <th>
                                                                                        First Name
                                                                                    </th>
                                                                                    <th>
                                                                                        Last Name
                                                                                    </th>
                                                                                    <th>
                                                                                        Select
                                                                                    </th>
                                                                                </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                <tr>
                                                                                    <th scope="row">
                                                                                        1
                                                                                    </th>
                                                                                    <td>
                                                                                        Jhon
                                                                                    </td>
                                                                                    <td>
                                                                                        Stone
                                                                                    </td>
                                                                                    <td class="text-center">
                                                                                        <label class="m-checkbox m-checkbox--success">
                                                                                            <input type="checkbox">
                                                                                            <span></span>
                                                                                        </label>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th scope="row">
                                                                                        1
                                                                                    </th>
                                                                                    <td>
                                                                                        Jhon
                                                                                    </td>
                                                                                    <td>
                                                                                        Stone
                                                                                    </td>
                                                                                    <td class="text-center">
                                                                                        <label class="m-checkbox m-checkbox--success">
                                                                                            <input type="checkbox">
                                                                                            <span></span>
                                                                                        </label>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th scope="row">
                                                                                        1
                                                                                    </th>
                                                                                    <td>
                                                                                        Jhon
                                                                                    </td>
                                                                                    <td>
                                                                                        Stone
                                                                                    </td>
                                                                                    <td class="text-center">
                                                                                        <label class="m-checkbox m-checkbox--success">
                                                                                            <input type="checkbox">
                                                                                            <span></span>
                                                                                        </label>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th scope="row">
                                                                                        1
                                                                                    </th>
                                                                                    <td>
                                                                                        Jhon
                                                                                    </td>
                                                                                    <td>
                                                                                        Stone
                                                                                    </td>
                                                                                    <td class="text-center">
                                                                                        <label class="m-checkbox m-checkbox--success">
                                                                                            <input type="checkbox">
                                                                                            <span></span>
                                                                                        </label>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th scope="row">
                                                                                        1
                                                                                    </th>
                                                                                    <td>
                                                                                        Jhon
                                                                                    </td>
                                                                                    <td>
                                                                                        Stone
                                                                                    </td>
                                                                                    <td class="text-center">
                                                                                        <label class="m-checkbox m-checkbox--success">
                                                                                            <input type="checkbox">
                                                                                            <span></span>
                                                                                        </label>
                                                                                    </td>
                                                                                </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                    <!--end::Section-->
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">
                                                                    Close
                                                                </button>
                                                                <button type="button" class="btn btn-primary">
                                                                    Save changes
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>