<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">

    <div class="m-grid__item m-grid__item--fluid m-wrapper">
        <div class="m-content m-box">
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="m-portlet m-portlet--full-height  ">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text">
                                        <span class="font-bold">My User: </span> All User List
                                    </h3>
                                </div>
                            </div>
                            <div class="m-portlet__head-tools">
                                <ul class="m-portlet__nav">
                                    <li class="m-portlet__nav-item">
                                        <a href="javascript:void(0)"
                                           class="m-portlet__nav-link btn m-btn icon-hover-menu-box m-btn--icon m-btn--icon-only m-btn--pill"
                                           data-toggle="m-tooltip" data-placement="top"
                                           title="Add User"
                                           data-original-title="Edit User" data-ng-controller="userController"
                                           ng-click="myUser()"><i
                                                class="la la-edit icon-menu-box"></i></a>
                                    </li>
                                    <li class="m-portlet__nav-item">
                                        <a href="#"
                                           class="m-portlet__nav-link btn m-btn icon-hover-close m-btn--icon m-btn--icon-only m-btn--pill"
                                           data-toggle="m-tooltip" data-placement="top"
                                           title="Delete User"
                                           data-original-title="Delete Userr"><i
                                                class="la la-close icon-menu-box"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 mTop-30">
                    <div class="m-portlet m-portlet--full-height  ">
                        <div class="m-portlet__body">
                            <div class="m-card-profile">
                                <div class="m-card-profile__title ">
                                    My Profile
                                </div>
                                <div class="m-card-profile__pic">
                                    <div class="m-card-profile__pic-wrapper">
                                        <img src="Content/img/paola.jpg" alt=""/>
                                    </div>
                                </div>
                                <div class="m-card-profile__details">
                                    <span class="m-card-profile__name">
                                        Paola Da Silva
                                    </span>
                                    <a href="javascript:void(0)" class="m-card-profile__email m-link">
                                        Parent
                                    </a>
                                </div>
                            </div>
                            <div class="m-portlet__body-separator"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8 mTop-30">
                    <div class="m-portlet m-portlet--full-height">
                        <div class="m-portlet__head m-portlet__head_white">
                            <div class="row">
                                <div class="col-sm-6 border-box text-center m-box">
                                    <div class="desc-info padding-desc">
                                        Personal Information
                                    </div>
                                    <div class="margin-desc"> <span class="desc-profile">Full Name: </span> Mark Andre</div>
                                    <div class="margin-desc"> <span class="desc-profile">User Type: </span> Student</div>
                                    <div class="margin-desc"> <span class="desc-profile"> Date Of Birth :</span> 07 02 1990</div>
                                    <div class="margin-desc"> <span class="desc-profile"> Gender: </span> female</div>
                                    <div class="margin-desc"> <span class="desc-profile"> Grade: </span> 10th grade</div>
                                </div>
                                <div class="col-sm-6 text-center m-box">
                                    <div class="desc-info padding-desc">
                                        Relationship
                                    </div>
                                    <div class="margin-desc"> <span class="desc-profile"> Full Name: </span> Paola Da Silva</div>
                                    <div class="margin-desc"> <span class="desc-profile"> User Type: </span> Parent</div>
                                    <div class="margin-desc"> <span class="desc-profile"> Date Of Birth: </span> 05 30 1965</div>
                                    <div class="margin-desc"> <span class="desc-profile"> Gender: </span> female</div>
                                </div>
                                <div class="col-sm-6 text-center border-box">
                                    <div class="desc-info padding-desc">
                                        Phone Number
                                    </div>
                                    <div class="margin-desc"> <span class="desc-profile"> Home: </span> +502209393209</div>
                                    <div class="margin-desc"> <span class="desc-profile"> Mobile: </span> +02 020109392</div>
                                    <div class="margin-desc"> <span class="desc-profile"> Office: </span> +0420205555</div>
                                </div>
                                <div class="col-sm-6 text-center">
                                    <div class="desc-info padding-desc">
                                        User Status & E-mail
                                    </div>
                                    <div class="margin-desc"> <span class="desc-profile"> User Status: </span> Active</div>
                                    <div class="margin-desc"> <span class="desc-profile"> E-mail Address: </span> mark.andre@gmail.com</div>
                                </div>
                                <div class="col-12 m-box-table">
                                    <div class="desc-info text-center padding-desc">
                                        Class List
                                    </div>
                                    <table class="table text-center bg-table-light margin-row-30">
                                        <thead class="bg-thead-dark">
                                        <tr>
                                            <th>
                                                Class Name
                                            </th>
                                            <th>
                                                Teacher
                                            </th>
                                            <th>
                                                Period
                                            </th>
                                            <th>
                                                Day(s)
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                Math
                                            </td>
                                            <td>
                                                Emisael Carrera
                                            </td>

                                            <td>
                                                Block 1
                                            </td>
                                            <td>
                                                Monday
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Geography
                                            </td>
                                            <td>
                                                Estefania Cedeño
                                            </td>

                                            <td>
                                                Block 2
                                            </td>
                                            <td>
                                                Tuesday
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Biology
                                            </td>
                                            <td>
                                                Eduardo Luttinger
                                            </td>

                                            <td>
                                                Block 2
                                            </td>
                                            <td>
                                                Tuesday
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Chemistry
                                            </td>
                                            <td>
                                                Gabriel Carrillo
                                            </td>

                                            <td>
                                                Block 3
                                            </td>
                                            <td>
                                                Tuesday
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>