<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">

    <div class="m-grid__item m-grid__item--fluid m-wrapper"></div>
    <div class="m-content m-box">
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="m-portlet m-portlet--full-height  ">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    <span class="font-bold">My School </span> All School
                                </h3>
                            </div>
                        </div>
                        <div class="m-portlet__head-tools">
                            <ul class="m-portlet__nav">
                                <li class="m-portlet__nav-item">
                                    <a href="javascript:void(0)"
                                       class="m-portlet__nav-link btn m-btn icon-hover-menu-box m-btn--icon m-btn--icon-only m-btn--pill"
                                       data-toggle="m-tooltip" data-placement="top"
                                       title="Add School"
                                       data-original-title="Add School" data-ng-controller="schoolController"
                                       ng-click="addSchool()">
                                        <i class="la la-plus icon-menu-box"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <ul class="m-nav m-portlet-fit--sides">
                            <li class="m-nav__item">
                                <div class="m-nav__link">
                                    <div class="m-portlet__head-caption">

                                    </div>
                                </div>
                            </li>
                        </ul>
                        <form class="m-form m-form--fit m-form--label-align-right">
                            <div class="m-input-search">
                                <div class="m-input-icon m-input-icon--left col-lg-5">
                                    <input type="text" class="form-control m-input"
                                           placeholder="Search School">
                                    <span class="m-input-icon__icon m-input-icon__icon--left">
                                            <span><i class="la la-search"></i></span>
                                        </span>
                                </div>
                            </div>
                        </form>
                        <!-- Table School -->
                        <div class="col-lg-12 col-md-12 col-sm-12 table-web">
                            <div class="m-portlet--full-height m-portlet--tabs">
                                <div class="m-portlet-no-padding">
                                    <div class="m-portlet__head-tools" style="padding: 1px !important;">
                                        <table class="table text-center bg-table-light margin-row-50">
                                            <thead class="bg-thead-dark">
                                            <tr>
                                                <th>
                                                    Photo
                                                </th>
                                                <th>
                                                    Full Name
                                                </th>
                                                <th>
                                                    ID Number
                                                </th>
                                                <th>
                                                    School
                                                </th>
                                                <th>
                                                    County
                                                </th>
                                                <th>
                                                    Actions
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <img src="Content/img/dilia.png" alt=""
                                                         class="img-table">
                                                </td>
                                                <td>
                                                    Gabriel Carrillo
                                                </td>
                                                <td>
                                                    3298348
                                                </td>
                                                <td>
                                                    Dilia Delgado de Bello
                                                </td>
                                                <td>
                                                    San Antonio de los Altos
                                                </td>
                                                <td style="padding: 5px;">
                                                    <a href="#"
                                                       class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                                                       data-toggle="m-tooltip" data-placement="top"
                                                       title="Details Information"
                                                       data-original-title="Details Information">
                                                        <i class="la la-eye font-icon-table font-icon-table"></i>
                                                    </a>
                                                    <a href="#"
                                                       class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                                                       data-toggle="m-tooltip" data-placement="top"
                                                       title="Edit Information"
                                                       data-original-title="Edit Information"><i
                                                            class="la la-edit font-icon-table"></i></a>
                                                    <a href="#"
                                                       class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                                                       data-toggle="m-tooltip" data-placement="top"
                                                       title="Delete Information"
                                                       data-original-title="Delete Information"><i
                                                            class="la la-bitbucket font-icon-table"></i></a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Table School -->

                        <!-- responsive school -->
                        <div class="col-12 card-mobile">
                            <div class="m-portlet--full-height m-portlet--tabs">
                                <div class="m-portlet-no-padding">
                                    <div class="m-portlet__head-tools" style="padding: 1px !important;">
                                        <div class="col-mobile-6">
                                            <div class="wrap">
                                                <div class="card">
                                                    <div class="card-liner">
                                                        <figure>
                                                            <img src="Content/img/dilia.png" alt=""/>
                                                        </figure>
                                                        <div class="card--title">
                                                            <h3>Dilia Delgado de Bello</h3>
                                                            <p>School Admin</p>
                                                        </div>
                                                        <div class="card--desc">
                                                            <a href="#"
                                                               class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                                                               data-toggle="m-tooltip" data-placement="top"
                                                               title="Details Information"
                                                               data-original-title="Details Information">
                                                                <i class="la la-eye font-icon-table font-icon-table"></i>
                                                            </a>
                                                            <a href="#"
                                                               class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                                                               data-toggle="m-tooltip" data-placement="top"
                                                               title="Edit Information"
                                                               data-original-title="Edit Information">
                                                                <i class="la la-edit font-icon-table"></i>
                                                            </a>
                                                            <a href="#"
                                                               class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                                                               data-toggle="m-tooltip" data-placement="top"
                                                               title="Delete Information"
                                                               data-original-title="Delete Information">
                                                                <i class="la la-bitbucket font-icon-table"></i>
                                                            </a>
                                                        </div>
                                                        <div class="card--btn">
                                                            <a href="#0">
                                                                    <span class="moreinfo"><i
                                                                            class="fa fa-info-circle"></i> More Info</span>
                                                                <span class="fullprof">View Full Profile</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end responsive school -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>